<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.paginauno">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PaginaUno"
        tools:targetApi="31">
        <activity
            android:name=".PaginaVeinte"
            android:exported="false" />
        <activity
            android:name=".PaginaDiecinueve"
            android:exported="false" />
        <activity
            android:name=".PaginaDieciocho"
            android:exported="false" />
        <activity
            android:name=".PaginaDiecisiete"
            android:exported="false" />
        <activity
            android:name=".PaginaDiesiceis"
            android:exported="false" />
        <activity
            android:name=".PaginaQuince"
            android:exported="false" />
        <activity
            android:name=".PaginaCatorce"
            android:exported="false" />
        <activity
            android:name=".PaginaTrece"
            android:exported="false" />
        <activity
            android:name=".PaginaDoce"
            android:exported="false" />
        <activity
            android:name=".PaginaOnce"
            android:exported="false" />
        <activity
            android:name=".PaginaDiez"
            android:exported="false" />
        <activity
            android:name=".PaginaNueve"
            android:exported="false" />
        <activity
            android:name=".PaginaOcho"
            android:exported="false" />
        <activity
            android:name=".PaginaSeis"
            android:exported="false" />
        <activity
            android:name=".PaginaCinco"
            android:exported="false" />
        <activity
            android:name=".PaginaSiete"
            android:exported="false" />
        <activity
            android:name=".PaginaCuatro"
            android:exported="false" />
        <activity
            android:name=".PaginaTres"
            android:exported="false" />
        <activity
            android:name=".PaginaDos"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>